
$font-family-base: 'Lucida Sans', sans-serif;

@import "variables";


// Import bootstrap and fontawesome
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/font-awesome/scss/font-awesome";

.altran-logo {
  float: right;
  width : 200px;
}

